{% extends 'base.html.twig' %}

{% block title %}{% if is_sim %} WAR - SIMULATION DE BATAILLE EN COURS{% else %}WGUTT | Choisir ses zones{% endif %}{% endblock %}
{% block nav_class %}other-nav{% endblock %}
{% block nav %}
    <div class="first-nav">
        {{ parent() }}
    </div>
    {% if is_sim %}
        <p class="title-nav">WAR - SIMULATION DE BATAILLE EN COURS</p>
    {% else %}
        <p class="title-nav">Des choix stratégiques s'impose, camarade !</p>
    {% endif %}
    <a href="{{ path('game_fail') }}">Abandonner</a>
{% endblock %}

{% block body %}
    <section class="battlefield">
        {% for zoneControl in game.zoneControls %}
            {% set isControlled = zoneControl.isControlled ? zoneControl.controllingPlayer.name == 'Player1' ? 'hi' : 'qa' : 'library' %}
            <div data-zone="{{ zoneControl.zone.name }}" data-name="{{ zoneControl.zone.value }}" class="{{ isControlled }} {{ zoneControl.zone.name }}_zone zone">
                <img src="{{ asset('assets/images/'~isControlled~'.svg') }}" alt="{{ zoneControl.zone.value }}">
                <p class="zone-texte"> {{ zoneControl.zone.value }} {% if not is_sim %}<br> <span class="nb-unite">{{ zoneControl.soldiersPlayer1.count }}</span> unités{% endif %}</p>
                {% if is_sim %}
                    <div class="player1">
                        {% for soldier in zoneControl.soldiersPlayer1 %}
                            <div class="pawn" style="top: {{ random(20,60) }}%; left: {{ random(20,60) }}%">
                                <div class="progress-bar">
                                    <div class="progress" style="width: {{ 100 * soldier.life / 60 }}%"></div>
                                </div>
                                <img width="40" alt="Soldat {{ loop.index }}" src="{{ asset('assets/images/'~soldier.rank.name|lower~'_yellow.svg') }}">
                                <div class="stats hidden">
                                    <h3>Ton soldat - Statistiques</h3>
                                    {% for stat in stats %}
                                        {{ include('game/_stat_line.html.twig', {'points': attribute(soldier, stat), 'stat': stat, 'stat_translate': stats_translate[stat]}) }}
                                    {% endfor %}
                                    <div>
                                        <div class='stat-label'>
                                            <img src='{{ asset("assets/images/upgrade_arrow.svg") }}' alt='{{ skills_translate['initiative'] }}' width='15'>
                                            <p>{{ skills_translate['initiative'] }}</p>
                                        </div>
                                        <p>
                                            <span class='initiative'>{{ soldier.initiative }}</span>p
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="player2">
                        {% for soldier in zoneControl.soldiersPlayer2 %}
                            <div class="pawn" style="bottom: {{ random(20,60) }}%; right: {{ random(20,60) }}%">
                                <div class="progress-bar">
                                    <div class="progress" style="width: {{ 100 * soldier.life / 60 }}%"></div>
                                </div>
                                <img width="40" alt="Soldat {{ loop.index }}" src="{{ asset('assets/images/'~soldier.rank.name|lower~'_orange.svg') }}">
                                <div class="stats hidden">
                                    <h3>Soldat adverse - Statistiques</h3>
                                    {% for stat in stats %}
                                        {{ include('game/_stat_line.html.twig', {'points': attribute(soldier, stat), 'stat': stat, 'stat_translate': stats_translate[stat]}) }}
                                    {% endfor %}
                                    <div>
                                        <div class='stat-label'>
                                            <img src='{{ asset("assets/images/upgrade_arrow.svg") }}' alt='{{ skills_translate['initiative'] }}' width='15'>
                                            <p>{{ skills_translate['initiative'] }}</p>
                                        </div>
                                        <p>
                                            <span class='initiative'>{{ soldier.initiative }}</span>p
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>
    {% if is_sim and mov == 2 %}
        <dialog id="dialog-win" class="modal">
        <header class="title-modal">
            <h1>Félicitation ! Vous avez gagné le BDE</h1>
        </header>
        <section class="soldier-action">
            <button data-url="{{ path('game_battlefield', {'mov': mov}) }}" id="validate-battle" title="Tour suivant" class="btn-create">
                Passez au tour suivant !
            </button>
        </section>
        </dialog>
    {% endif %}
    {% if is_sim and mov == 4 %}
        <dialog id="dialog-win" class="modal">
        <header class="title-modal">
            <h1>Félicitation ! Vous avez gagné la Halle Sportive</h1>
        </header>
        <section class="soldier-action">
            <button data-url="{{ path('game_battlefield', {'mov': mov}) }}" id="validate-battle" title="Tour suivant" class="btn-create">
                Passez au tour suivant !
            </button>
        </section>
        </dialog>
    {% endif %}
    {% if is_sim and mov == 6 %}
        <dialog id="dialog-win" class="modal">
        <header class="title-modal">
            <h1>Dommage ! Vous avez perdu le Quartier Administratif</h1>
        </header>
        <section class="soldier-action">
            <button data-url="{{ path('game_battlefield', {'mov': mov}) }}" id="validate-battle" title="Tour suivant" class="btn-create">
                Passez au tour suivant !
            </button>
        </section>
        </dialog>
    {% endif %}
    {% if is_sim and mov == 8 %}
        <dialog id="dialog-win" class="modal">
        <header class="title-modal">
            <h1>Dommage ! Vous avez perdu la Bibliothèque</h1>
        </header>
        <section class="soldier-action">
            <button data-url="{{ path('game_battlefield', {'mov': mov}) }}" id="validate-battle" title="Tour suivant" class="btn-create">
                Passez au tour suivant !
            </button>
        </section>
        </dialog>
    {% endif %}
    {% if is_sim and mov == 10 %}
        <dialog id="dialog-win" class="modal">
        <header class="title-modal">
            <h1>Félicitation ! Vous avez gagné les Halles Industrielle</h1>
        </header>
        <section class="soldier-action">
            <p>Nous vous félicitons d'avoir bravé tous les obstacles ! </p>
            <button data-url="{{ path('game_battlefield', {'mov': mov}) }}" id="validate-battle" title="Tour suivant" class="btn-create">
                Fin de partie
            </button>
        </section>
        </dialog>
    {% endif %}
    {% if not is_sim %}
    <dialog id="slider-soldiers" class="modal">
        <header class="title-modal">
            <h1>Affecter des soldats | <span class="zone-name"></span></h1>
        </header>
        <section class="soldier-action">
            <p><span class="nb-in-zone">0</span> soldats ont été sélectionnés !</p>
            <button id="assign-soldiers" class="btn-create">Affecter !</button>
        </section>
        <section>
            <button class="arrow-left"><img width="70" src="{{ asset('assets/images/left_arrow.svg') }}" alt="Go Left !">
            </button>
            <div class="slider">
                {% for soldier in soldiers %}
                    <div data-zone="{{ soldier.zoneControl ?  soldier.zoneControl.zone.name:'' }}" data-card-index='{{ loop.index }}' class='mini-card {{ soldier.isIsDead ?  'dead':'' }} {{ soldier.zoneControl ?  'assign':'' }} {{ soldier.isReserved?'reserved':'' }} {% if loop.index == 1 %}active{% endif %}'>
                        <div class='stat-left'>
                            <p><img alt='' width='10' src='{{ asset('assets/images/plus.svg') }}'> <span
                                        class='points'>{{ soldier.totalPoints }}</span>p
                            </p>
                        </div>
                        <img class='img-rank' width='70' height='70' src='{{ asset('assets/images/'~soldier.rank.name|lower~'_yellow.png') }}'
                             alt='{{ soldier.rank.getName }}'/>
                        <div class='stat-right'>
                            <p><img alt='' width='10' src='{{ asset('assets/images/plus.svg') }}'><span
                                        class='points'>{{ soldier.totalPoints }}</span>p
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button class="arrow-right"><img width="70" src="{{ asset('assets/images/right_arrow.svg') }}" alt="Go right !">
            </button>
        </section>
    </dialog>
    {% endif %}
    <footer>
        {% if not is_sim %}
        <div>

            <p>
                Il vous reste <span class="nb-soldier">{{ nbSoldiers }}</span> unités à placer
            </p>
            <p class="small">
                {% for zoneControl in game.zoneControls %}
                    <span class="{{ zoneControl.zone.name }} {{ zoneControl.getSoldiersPlayer1.count == 0? '' : 'hidden' }}">La zone {{ zoneControl.zone.value }} n'a pas d'unité ! |</span>
                {% endfor %}
            </p>
        </div>
        {% endif %}

        <div>
            <p>
                <img src="{{ asset('assets/images/rectangle_orange.svg') }}" alt="rectangle_orange">
                Zone hostile
            </p>
            <p>
                <img src="{{ asset('assets/images/rectangle_bleu.svg') }}" alt="rectangle_bleu">
                Zone contrôlée
            </p>
            <p>
                <img src="{{ asset('assets/images/rectangle_beige.svg') }}" alt="rectangle_bleu">
                Zone neutre
            </p>
        </div>

        {% if not is_sim %}
        <button data-url="{{ path('game_battlefield', {'sim': mov}) }}" id="validate-battle" title="Vous devez d'abord placer toutes vos unités" disabled class="btn-create">
            Valider le plan de bataille
        </button>
        {% else %}
        <button data-url="{{ path('game_battlefield', {'mov': mov}) }}" id="skip" title="Passer l'animation" class="btn-create">
            Passer
        </button>
        {% endif %}
    </footer>
    <script>
        let zones = document.getElementsByClassName('zone');
        let dialogSoldier = document.getElementById('slider-soldiers');
        let dialogWin = document.getElementById('dialog-win');
        let btnDialogSoldier = document.getElementById('assign-soldiers');
        let cardOffset = 2;
        const miniCards = document.querySelectorAll('.mini-card');
        let minus = 0;
        let btnValidate = document.getElementById('validate-battle');
        let btnSkip = document.getElementById('skip');
        const effect = ['damage', 'hurt', 'heal', 'escape', 'shield', 'precision']
        let intervalId = null

        function activeCard(cardIndex) {
            const slider = document.getElementsByClassName('slider')[0]
            const radiusX = slider.offsetWidth / 2 - 100
            const radiusY = slider.offsetHeight / 2 - 100
            let zone = dialogSoldier.dataset.zone
            let length = miniCards.length - minus
            let midLength = Math.ceil(length / 2);
            let minusNon = 0;
            miniCards.forEach(function (card, i) {
                let trueIndex = i - minusNon + 1
                let index = (trueIndex >= cardIndex) ? midLength - (trueIndex - cardIndex) : midLength - (cardIndex - trueIndex);
                let indexDeg = (trueIndex >= cardIndex) ? midLength + (trueIndex - cardIndex) : midLength - (cardIndex - trueIndex);
                card.classList.remove('active');
                if (!card.classList.contains('reserved') && !card.classList.contains('dead') && !(card.classList.contains('assign') && card.dataset.zone !== zone)) {
                    card.style.display = 'flex';
                    let deg = (indexDeg * (180 / length) - 180);
                    if (trueIndex === cardIndex) {
                        card.classList.add('point-bounce');
                        card.classList.add('active');
                        card.style.zIndex = index + 1
                    }
                    card.style.zIndex = index;
                    let bright = 100 - length * 3 + index * 10;
                    card.style.setProperty("--slider--brightness", ((bright >= 20) ? bright : 20) + "%");
                    card.style.setProperty("--slider--left", (Math.round(radiusX * Math.cos(deg * (Math.PI / 180))) + radiusX - card.offsetWidth / 2 + 100) + "px");
                    card.style.setProperty("--slider--top", (Math.round(radiusY * Math.sin(deg * (Math.PI / 180))) + radiusY - card.offsetHeight / 2 + 50) + "px");
                } else {
                    minusNon++;
                }

            })
        }

        function animOpen(lobby) {
            lobby.classList.add('fade-out');
            lobby.showModal();
            lobby.classList.add('fade-in');
            lobby.classList.remove('fade-out');
        }

        function closeDialog(event, lobby) {
            if (event.target.nodeName === "SELECT" || event.target.nodeName === "OPTION") {
                return;
            }
            const rect = lobby.getBoundingClientRect();
            const isInDialog=((rect.top <= event.clientY && event.clientY <= rect.top + rect.height
                && rect.left <= event.clientX && event.clientX <= rect.left + rect.width) || event.target.nodeName === "SELECT");
            if (!isInDialog) {
                lobby.classList.add('fade-out');
                setTimeout(() => lobby.close(), 200);
            }
        }

        function move() {
            let pawns = document.querySelectorAll('.pawn');
            intervalId = setInterval(frame, 1000);
            function frame() {
                for(let pawn of pawns) {
                    let randEffect = effect[Math.floor(Math.random() * effect.length)]
                    let randPos = !!Math.floor(Math.random() * 2);
                    let randMinus = !!Math.floor(Math.random() * 2);
                    let num = Number(pawn.getElementsByClassName('life')[0].innerHTML.trim())
                    if (num <= 0) {
                        clearInterval(intervalId);

                    } else {
                        if (randEffect === 'hurt') {
                            pawn.classList.remove(...effect, 'effect');
                            pawn.classList.add('hurt');
                            pawn.getElementsByClassName('life')[0].innerHTML = num - 1;
                            pawn.getElementsByClassName('progress')[0].style.width = (100 * (num - 1) / 60) + '%';
                        } else {
                            pawn.classList.remove(...effect);
                            pawn.classList.add('effect');
                            pawn.classList.add(randEffect);
                        }
                        pawn.style[randPos? 'top' : 'left'] = randMinus ? - Math.floor(Math.random() * 100 + 20) : Math.floor(Math.random() * 100 + 20);
                    }
                }
            }
        }



        document.addEventListener("DOMContentLoaded", () => {
            miniCards.forEach(function (card) {
                card.addEventListener('animationend', function (ev) {
                    ev.currentTarget.classList.remove('point-bounce')
                })
            })

            {% if not is_sim %}
            document.querySelector(".arrow-right").addEventListener('click', function () {
                if (cardOffset < (20-minus)) {
                    cardOffset += 1;
                    activeCard(cardOffset);
                }
            })

            document.querySelector(".arrow-left").addEventListener('click', function () {
                if (cardOffset > 1) {
                    cardOffset -= 1;
                    activeCard(cardOffset);
                }
            })

            for(let i = 0; i < zones.length; i++) {
                zones[i].addEventListener('click', function (e) {
                    let zone = dialogSoldier.dataset.zone = e.currentTarget.dataset.zone
                    document.querySelector('#slider-soldiers .zone-name').innerHTML = e.currentTarget.dataset.name
                    minus = 0;
                    miniCards.forEach(function (card, index) {
                        if (card.classList.contains('reserved') || card.classList.contains('dead') || (card.classList.contains('assign') && card.dataset.zone !== zone)) {
                            card.style.display = 'none';
                            minus++;
                        } else {
                            card.dataset.cardIndex = index - minus + 1;
                        }
                    });
                    animOpen(dialogSoldier);
                    activeCard(1);
                })
            }

            if (document.querySelector('.small > span:not(.hidden)') === null) {
                let btn = document.getElementById('validate-battle');
                btn.disabled = false;
            }

            btnDialogSoldier.addEventListener('click', function (el) {
                let zone = dialogSoldier.dataset.zone;
                if (zone) {
                    let nb = document.querySelectorAll('#slider-soldiers .assign[data-zone='+zone+']').length
                    let bubble = document.querySelector('.'+zone+'_zone .nb-unite')
                    bubble.innerHTML = nb.toString();
                    let noSoldier = document.querySelector('p.small .'+zone+'')
                    if (nb > 0) {
                        noSoldier.classList.add('hidden');
                    } else {
                        noSoldier.classList.remove('hidden');
                    }
                }
                let nbSoldiers = document.querySelectorAll('.mini-card:not(.dead):not(.assign):not(.reserved)').length
                document.querySelector('.nb-soldier').innerHTML = nbSoldiers
                if (document.querySelector('.small > span:not(.hidden)') === null) {
                    let btn = document.getElementById('validate-battle');
                    btn.disabled = false;
                }
                dialogSoldier.close();
                let nb = document.querySelector('.nb-in-zone')
                nb.innerHTML = 0;
            })

            dialogSoldier.classList.add('hidden');
            dialogSoldier.showModal();
            dialogSoldier.addEventListener('click', (event) => closeDialog(event, dialogSoldier) );

            activeCard(cardOffset);
            dialogSoldier.close();
            dialogSoldier.classList.remove('hidden');

            document.querySelectorAll(".mini-card").forEach(function (el) {
                el.addEventListener('click', function (ev) {
                    if (ev.currentTarget.classList.contains('active')) {
                        let aah = ev.currentTarget.classList.toggle('assign');
                        let nb = document.querySelector('.nb-in-zone')
                        nb.innerHTML = aah ? Number(nb.innerHTML) + 1 : Number(nb.innerHTML) - 1;
                        ev.currentTarget.dataset.zone = dialogSoldier.dataset.zone
                    }
                    activeCard(Number(ev.currentTarget.dataset.cardIndex))
                    cardOffset = Number(ev.currentTarget.dataset.cardIndex)
                })
            })

            {% endif %}

            {% if is_sim %}
                move()
            {% endif %}

            btnValidate.addEventListener('click', function (el) {
                window.location.href = el.currentTarget.dataset.url;
            })

            btnSkip.addEventListener('click', function (el) {
                animOpen(dialogWin);
            })

        });
    </script>
{% endblock %}